/** @format */

.btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-height: 40px;
	height: 100%;

	&__profile {
		display: flex;
		align-items: center;

		gap: 10px;

		h3 {
			font-size: 20px;
			font-weight: 400;
			line-height: 27px;
		}
	}

	.settings__btn {
		border: 5px;
		width: 25px;
		height: 25px;
		margin-left: 0.5rem;
	}
}
