@import '../../../assets/styles/variable.css';

.custom-button {
    background-color: #24a1e0; /* Blue background color */
    color: #fff; /* White text color */
    padding: 0.5rem 1rem; /* Padding */
    border: none; /* No border */
    border-radius: 1rem;/* Rounded corners */
    cursor: pointer; /* Cursor style */
    
    
    
}



.table-gradient{
    background: linear-gradient(315deg, #414141 0%, #040404 100%);
}