@import "normalize.css";
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
	font-family: "Nunito Sans";
	box-sizing: border-box;
	margin: 0px;
	padding: 0;
}

@layer components {
	.w-full {
		width: 100%;
	}
	.after {
		@apply after:absolute after:rounded-full after:bg-after after:opacity-50  after:blur-3xl after:content-[""];
	}

	.hero-after {
		@apply after:w-full after:absolute after:bottom-0 after:left-0 after:h-[500px] after:bg-gradient-to-t after:from-dark-blue after:to-transparent max-lg:after:max-h-[752px] max-md:after:max-h-[541px];
	}

	.hero-bg {
		@apply bg-gradient-to-r from-[#7000ff] from-[1.33%] to-[#c000f0]  to-[96%];
	}

	.how-start-after {
		@apply after:absolute after:top-[95px] after:z-10 after:h-4 after:w-[132px] after:origin-left after:translate-x-[65px] after:transform after:bg-arrow-how-start after:bg-center;
	}

	.how-start-before {
		@apply before:absolute before:top-[95px] before:z-10 before:h-4 before:w-[165px] before:origin-right before:translate-x-[-70px] before:transform before:bg-separator-how-start before:bg-center before:bg-no-repeat;
	}
}
.settings__btn {
	svg {
		path {
			fill: rgb(214, 214, 214);
		}
	}
}

.active {
	svg {
		path {
			fill: #fff;
		}
	}
}

.ant-form-item .ant-form-item-label {
	padding-bottom: 0;
}
.preference-halfsizer {
	width: 48%;
}
.dashboard-size-helper {
	width: 97%;
}

/* cool look to scroll bar*/
/* width */
::-webkit-scrollbar {
	width: 7px;
	background-color: #0e0e0e;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #230e32;
	border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #24a1e0;
}
